// main: ../main.scss
/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about {
  .content {
    h3 {
      font-weight: 700;
      font-size: 34px;
      margin-bottom: 30px;
    }

    p {
      margin-bottom: 30px;
    }

    .about-btn {
      padding: 8px 30px 9px 30px;
      color: var(--default-color);
      border-radius: 50px;
      transition: 0.3s;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 13px;
      display: inline-flex;
      align-items: center;
      border: 2px solid var(--accent-color);

      i {
        font-size: 16px;
        padding-left: 5px;
      }

      &:hover {
        background: var(--accent-color);
        color: var(--contrast-color);
      }
    }
  }

  .icon-box {
    i {
      font-size: 40px;
      color: var(--accent-color);
      margin-bottom: 10px;
    }

    h4 {
      font-size: 20px;
      font-weight: 700;
      margin: 0 0 10px 0;

      a {
        color: var(--heading-color);
        transition: 0.3s;
      }
    }

    p {
      font-size: 15px;
      color: color-mix(in srgb, var(--default-color), transparent 40%);
      margin-bottom: 0;
    }

    &:hover {
      h4 a {
        color: var(--accent-color);
      }
    }
  }
}