// main: ../main.scss
/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact {
  .info-item {
    background-color: var(--surface-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 24px 0 30px 0;

    i {
      font-size: 20px;
      color: var(--accent-color);
      width: 56px;
      height: 56px;
      font-size: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      transition: all 0.3s ease-in-out;
      border-radius: 50%;
      border: 2px dotted color-mix(in srgb, var(--accent-color), transparent 40%);
    }

    h3 {
      font-size: 20px;
      color: color-mix(in srgb, var(--default-color), transparent 20%);
      font-size: 18px;
      font-weight: 700;
      margin: 10px 0;
    }

    p {
      padding: 0;
      margin-bottom: 0;
      font-size: 14px;
    }
  }

  .php-email-form {
    background-color: var(--surface-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    height: 100%;
    padding: 30px;

    @media (max-width: 575px) {
      padding: 20px;
    }

    input[type=text],
    input[type=email],
    textarea {
      font-size: 14px;
      padding: 10px 15px;
      box-shadow: none;
      border-radius: 0;
      color: var(--default-color);
      background-color: var(--surface-color);
      border-color: color-mix(in srgb, var(--default-color), transparent 80%);

      &:focus {
        border-color: var(--accent-color);
      }

      &::placeholder {
        color: color-mix(in srgb, var(--default-color), transparent 70%);
      }
    }

    button[type="submit"] {
      color: var(--contrast-color);
      background: var(--accent-color);
      border: 0;
      padding: 10px 30px;
      transition: 0.4s;
      border-radius: 50px;

      &:hover {
        background: color-mix(in srgb, var(--accent-color), transparent 20%);
      }
    }
  }
}