/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 60px 0;
  scroll-margin-top: 100px;
  overflow: clip;
}

.section-bg {
  background-color: transparent;
  padding: 160px 0;
  position: relative;

  &:before {
    content: "";
    background-color: var(--background-color);
    position: absolute;
    bottom: 60px;
    top: 60px;
    left: 0;
    right: 0;
    transform: skewY(-3deg);
  }

  .container {
    position: relative;
  }
}

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 66px;
  }
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  text-align: center;
  padding-bottom: 60px;
  position: relative;

  h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    text-transform: uppercase;

    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 50px;
      height: 3px;
      background: var(--accent-color);
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }

  p {
    margin-bottom: 0;
  }
}

@import './sections/_hero.scss';
@import './sections/_clients.scss';
@import './sections/_about.scss';
@import './sections/_stats.scss';
@import './sections/_tabs.scss';
@import './sections/_services.scss';
@import './sections/_portfolio.scss';
@import './sections/_testimonials.scss';
@import './sections/_pricing.scss';
@import './sections/_faq.scss';
@import './sections/_team.scss';
@import './sections/_contact.scss';
@import './sections/_portfolio-details.scss';
@import './sections/_service-details.scss';
@import './sections/_starter-section.scss';
@import './sections/_blog-posts.scss';
@import './sections/_blog-pagination.scss';
@import './sections/_blog-details.scss';
@import './sections/_blog-author.scss';
@import './sections/_blog-comments.scss';
@import './sections/_comment-form.scss';