// main: ../main.scss
/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
.header {
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 20px 0;
  transition: all 0.5s;
  z-index: 997;

  .logo {
    line-height: 1;

    img {
      max-height: 36px;
      margin-right: 8px;
    }

    h1 {
      font-size: 32px;
      margin: 0;
      font-weight: 700;
      color: var(--heading-color);
    }

    span {
      font-size: 32px;
      font-weight: 700;
      color: var(--accent-color);
    }
  }

  .btn-getstarted,
  .btn-getstarted:focus {
    color: var(--contrast-color);
    background: var(--accent-color);
    font-size: 14px;
    padding: 8px 25px;
    margin: 0 0 0 30px;
    border-radius: 4px;
    transition: 0.3s;

    &:hover {
      color: var(--contrast-color);
      background: color-mix(in srgb, var(--accent-color), transparent 15%);
    }
  }

  @media (max-width: 1200px) {
    .logo {
      order: 1;
    }

    .btn-getstarted,
    .btn-getstarted:focus {
      order: 2;
      margin: 0 15px 0 0;
      padding: 6px 15px;
    }

    .navmenu {
      order: 3;
    }
  }

  .scrolled & {
    box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
  }
}